html,
body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

h1 {
  margin-bottom: 16px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 32px;
}

figure {
  margin: 0;
}

figcaption {
  width: 150px;
}

.hero,
footer {
  background-color: #1f2937;
  color: white;
}

.intro h1 {
  font-size: 48px;
  font-weight: 900;
}

header,
.intro p {
  font-size: 18px;
  color: #e5e7eb;
}

.intro p,
h1 {
  max-width: 500px;
}

.hero {
  padding: 16px 100px 100px;
}

.intro {
  display: flex;
  justify-content: space-between;
  height: 350px;
}

.intro a {
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
  border: 0;
  padding: 8px 28px;
}

header,
.intro {
  max-width: 1300px;
}
.info {
  text-align: center;
}

.imgs {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.imgs img {
  border: 5px solid #3882f6;
  border-radius: 8px;
}

.quote {
  margin-top: 70px;
  background-color: #e5e7eb;
  padding: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quote .text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

.quote .name {
  margin: 0;
  align-self: flex-end;
  text-align: right;
  font-weight: 900;
  font-size: 20px;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  border-radius: 6px;
  padding: 40px 100px;
  width: fit-content;
  margin: 64px auto;
  display: flex;
  gap: 100px;
  align-items: center;
}

.sign-up p {
  margin: 0;
}

.sign-up a {
  color: white;
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 8px;
  padding: 6px 40px;
}

.sign-up h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  color: white;
}

footer {
  text-align: center;
  padding: 16px;
}
